src/test/resources/echo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoService"
                  targetNamespace="http://example.com/echo"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://example.com/echo"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/echo" elementFormDefault="qualified">
            <xsd:element name="EchoRequest" type="xsd:string"/>
            <xsd:element name="EchoResponse" type="xsd:string"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="EchoIn">
        <wsdl:part name="parameters" element="tns:EchoRequest"/>
    </wsdl:message>
    <wsdl:message name="EchoOut">
        <wsdl:part name="parameters" element="tns:EchoResponse"/>
    </wsdl:message>
    <wsdl:portType name="EchoPortType">
        <wsdl:operation name="Echo">
            <wsdl:input message="tns:EchoIn"/>
            <wsdl:output message="tns:EchoOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoBinding" type="tns:EchoPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Echo">
            <soap:operation soapAction="http://example.com/echo/Echo"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoService">
        <wsdl:port name="EchoPort" binding="tns:EchoBinding">
            <soap:address location="http://localhost:18089/echo"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
